<h1>About Family Connect</h1>

<p>Our site is about connecting families separated all over the world.  Start a blog that the whole family and friends can follow.  Store all your memories in one place!!</p>
