<h1>Contact us</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<p>If you're having trouble using Family Connect, please contact us!  Send us an email if you have any questions, or just want to send us a comment!</p>
